
<div class="container h-100">
    <div class="htop">
        {{meeting-form meeting=model onsubmit=(action "saveMeeting") onDeleteReport=(action "onDeleteReport") onAddReport=(action "onAddReport") new=true}}
    </div>
</div>